.gradle
.settings
/.idea/
/.vscode/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
src/main/resources/mixins.*([!.]).json
*.bat
*.DS_Store
!gradlew.bat
.factorypath 
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json

# Include the required config files for the thing not to crash in dev env
!run/
run/*
!run/client/
!run/server/
run/client/*
run/server/*
!run/client/config/
!run/server/config/
run/client/config/*
run/server/config/*
!run/client/config/hodgepodge.cfg
!run/client/config/chromatifixes.cfg
!run/server/config/hodgepodge.cfg
!run/server/config/chromatifixes.cfg